@layer components {
  .btn {
    @apply relative flex items-center justify-center font-medium transition-all duration-150 rounded-md disabled:opacity-30 disabled:pointer-events-auto text-button;
    &:not([disabled]):not(:active):not(.no-btn-elev):not(.btn-ghost):hover {
      transform: translate3d(0px, -2px, 0px);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
    }
    &:not(.no-btn-elev):not(.btn-ghost):active {
      transform: translate3d(0px, 0px, 0px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 3em inset;
    }
    & svg {
      font-size: inherit;
    }
  }
  .btn-icon {
    @apply overflow-hidden;
  }
  .btn-primary {
    @apply bg-primary text-primaryMain;
    &:not([disabled]):hover {
      @apply bg-primaryDark;
    }
  }
  .btn-secondary {
    @apply bg-secondary text-secondaryMain;
    &:not([disabled]):hover {
      @apply bg-secondaryDark;
    }
  }
  .btn-tertiary {
    @apply bg-tertiary text-tertiaryMain;
    &:not([disabled]):hover {
      @apply bg-tertiaryDark;
    }
  }
  .btn-ghost {
    @apply text-main;
    &:not([disabled]):hover {
      @apply bg-tertiary bg-opacity-80;
    }
  }
  .btn-primaryOutline {
    @apply border border-primary text-primary;
    &:not([disabled]):hover {
      @apply bg-primary text-primaryMain;
    }
  }
  .btn-secondaryOutline {
    @apply border border-secondary text-secondary;
    &:not([disabled]):hover {
      @apply bg-secondary text-secondaryMain;
    }
  }
  .btn-default {
    @apply bg-gray-300;
    &:not([disabled]):hover {
      @apply bg-gray-500;
    }
  }
  .btn-defaultOutline {
    @apply border border-gray-300;
    &:not([disabled]):hover {
      @apply bg-gray-300;
    }
  }
  .btn-danger {
    @apply text-white bg-error;
  }
  .btn-startIcon {
    @apply inline-block me-2;
  }
}
