@layer components {
  .chip {
    @apply relative flex items-center justify-center font-medium transition-all duration-150 rounded-md text-button whitespace-nowrap;
    & .KnChip-deleteIcon {
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentColor;
      flex-shrink: 0;
      user-select: none;
      cursor: pointer;
      font-size: 22px;
      margin-inline-end: 5px;
      margin-inline-start: -6px;
    }
  }

  .chip-primary {
    @apply border bg-primary border-primary text-primaryMain;
  }
  .chip-secondary {
    @apply border bg-secondary border-secondary text-secondaryMain;
  }
  .chip-tertiary {
    @apply bg-tertiary text-tertiaryMain;
  }
  .chip-primaryOutline {
    @apply border border-solid border-primary text-primary;
  }
  .chip-secondaryOutline {
    @apply border border-solid border-secondary text-secondary;
  }
  .chip-danger {
    @apply bg-error bg-opacity-20 text-error;
  }
  .chip-success {
    @apply bg-success bg-opacity-10 text-success;
  }
  .chip-warning {
    @apply bg-warning bg-opacity-10 text-warning;
  }
}
.chip-content {
  @apply text-button;
  font-size: 0.8125rem;
  padding: 0 12px;
}
