@layer components {
  .horizontal-list__container {
    @apply relative w-full snap-proximity;
  }
  .horizontal-list_scroller {
    @apply flex-1 inline-block overflow-x-auto overflow-y-hidden whitespace-nowrap scroll-smooth;
    padding: 0 5px;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    scrollbar-width: 0;
    &::-webkit-scrollbar {
      display: none;
    }
    & > * {
      scroll-snap-align: start;
    }
  }
  .horizontal-list__prev-btn,
  .horizontal-list__next-btn {
    flex-shrink: 0;
    @apply !hidden xs:!block;
  }
}
