@layer components {
  .horizontal-list {
    @apply relative overflow-x-hidden;
  }
  .horizontal-list__arrows {
    @apply absolute z-20 -translate-y-1/2 bg-paper top-1/2 end-0;
    &::before {
      content: " ";
      @apply absolute w-[70px] h-full;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(250, 250, 250, 1)
      );
      left: -71px;
    }
  }
}
