@layer components {
  .horizontal-list__container {
    @apply overflow-x-visible snap-proximity;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
  }
  .horizontal-list {
    @apply relative overflow-x-scroll scroll-smooth;
    scrollbar-width: 0;
    &::-webkit-scrollbar {
      display: none;
    }
    & > * {
      scroll-snap-align: start;
    }
  }
  .horizontal-list__arrows {
    @apply !hidden sm:!flex;
    &::before {
      content: " ";
      @apply absolute w-[70px] h-full;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(250, 250, 250, 1)
      );
      left: -71px;
    }
  }
}
