@layer components {
  .stepper {
    @apply flex items-center;
    margin: 0 2vw;
  }
  .stepper-vertical {
    @apply items-start
  }

  .step {
    @apply relative px-0;
    & button {
      @apply rounded-full w-[40px] h-[40px] transition-colors duration-200;
    }
    & p {
      @apply cursor-pointer;
    }
  }
  .step-horizontal {
    & p {
      @apply absolute mt-2;
      left: -50%;
      right: -50%;
    }
  }
  .step-vertical {
    @apply flex items-center;

    & p {
      margin-inline-start: 1em;
    }
  }
  .step-connector--horizontal {
    @apply relative flex-1 flex-shrink;
    margin: 0 1vw;

    & span {
      @apply block border-t-2 border-dashed;
    }
  }
  .step-connector--vertical {
    @apply flex-1 flex-shrink;
    margin: 1vh 0;
    margin-inline-start: 20px;
    height: 100%;

    & span {
      @apply border-l-2 border-dashed;
    }
  }
}
