@layer components {
  .toggle {
    @apply w-[40px] h-[24px] relative rounded-xl overflow-hidden;
    & span {
      @apply absolute inset-0 inline-block transition-colors duration-200 ease-out  bg-[#ccc];
    }
    & input[type="checkbox"]:checked:not(:disabled) ~ span {
      @apply bg-current;
    }
    & input[type="checkbox"]:disabled ~ span {
      @apply bg-inputDisabled;
    }
    & span:before {
      @apply inline-block absolute h-[16px] w-[16px] left-[5px] top-[4px] bg-white rounded-full transition-transform duration-200 ease-out;
      content: " ";
    }
    & input[type="checkbox"]:focus:not(:disabled) ~ span::before {
      box-shadow: 0px 0px 2px 3px #0099e0;
    }
    & input[type="checkbox"] {
      @apply !w-full !h-full !p-0 !m-0 !z-[1] !opacity-0 !outline-none !shadow-none !inline-block absolute !top-0 !left-0;
      &:not(:disabled) {
        cursor: pointer;
      }
    }
    & input[type="checkbox"]:checked ~ span::before {
      transform: translateX(14px);
    }
  }
}
