@tailwind base;

@layer base {
  :root {
    --primary-color: 31, 178, 200;
    --secondary-color: #d75449;
    --text-color: #252525;
    --text-color-inverted: #fff;
    --text-color-muted: #999999;
    --bg-color: 255, 251, 235;
    --nav-color: 255, 255, 255;
    --paper-color: #fff;
    --drawer-root-z: 1200;
    --dialog-root-z: 1100;
  }
  html[class="dark"] {
    --primary-color: #83c9ce;
    --secondary-color: #e09794;
    --text-color: #fff;
    --text-color-inverted: #252525;
    --text-color-muted: #cdcdcd;
    --bg-color: 37, 37, 37;
    --nav-color: 37, 37, 37;
    --paper-color: #252525;
  }
  html {
    scroll-behavior: smooth !important;
    font-family: "Inter", sans-serif;
  }
  body {
    @apply min-h-screen transition-colors duration-200 bg-body text-main;
  }
}
