@import "tailwindcss/components";
@import "../components/horizontallist.component.css";
@import "../components/drawer.component.css";
@import "../components/popover.component.css";
@import "../components/textarea.component.css";
@import "../components/stepper.component.css";
@import "../components/toggle.component.css";
@import "../components/basedialog.component.css";

@layer components {
  .paper {
    @apply rounded bg-paper;
  }
  .input-label {
    @apply block mb-2;
  }
  .dual-ring-loader {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;

    &:after {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid currentcolor;
      border-color: currentcolor transparent currentcolor transparent;
      animation: dual-ring-loader 1.2s linear infinite;
    }
  }
  @keyframes dual-ring-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
