@import "tailwindcss/utilities";
@import "../utilities/calendar.utilities.css";
@import "../utilities/horizontallist.utilities.css";
@import "../utilities/drawer.utilities.css";
@import "../utilities/popover.utilities.css";
@import "../utilities/menuitem.utilities.css";
@import "../utilities/avatargroup.utilities.css";
@import "../utilities/avatar.utilities.css";
@import "../utilities/chip.utilities.css";
@import "../utilities/box.utilities.css";
@import "../utilities/breadcrumbs.utilities.css";
@import "../utilities/textarea.utilities.css";
@import "../utilities/stepper.utilities.css";
@import "../utilities/linearprogress.utilities.css";
@import "../utilities/circularprogress.utilities.css";
@import "../utilities/toggle.utilities.css";
@import "../utilities/typography.utilities.css";
@import "../utilities/basedialog.utilities.css";
@import "../utilities/radio.utilities.css";
@import "../utilities/button.utilities.css";
@import "../utilities/input.utilities.css";
@import "../utilities/stack.utilities.css";
@import "../utilities/checkbox.utilities.css";

@layer utilities {
  .elevation-1 {
    @apply shadow-sm bg-elevation-1;
  }
  .elevation-2 {
    @apply shadow-md bg-elevation-2;
  }
  .elevation-3 {
    @apply shadow-lg bg-elevation-3;
  }
  .elevation-4 {
    @apply shadow-xl bg-elevation-4;
  }
  .elevation-6 {
    @apply shadow-3xl bg-elevation-6;
  }
  .xs-size {
    @apply px-2 py-1.5;
    font-size: 0.8125em;
  }
  .sm-size {
    @apply px-3 py-1.5;
    font-size: 0.8125em;
  }
  .md-size {
    @apply px-5 py-2;
    font-size: 0.875em;
  }
  .lg-size {
    @apply px-6 py-3;
    font-size: 0.9375em;
  }
}
