registry=https://registry.npmjs.org/
@ahmad-zaaza:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
script-shell=C:\Program Files\git\bin\bash.exe
init-author-name=Ahmad-Zaaza
//registry.npmjs.org/:_authToken=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