@layer utilities {
  .avatar-sm {
    @apply w-[24px] h-[24px];
    font-size: 0.875em;
  }
  .avatar-primary {
    & span {
      @apply bg-primary text-primaryMain;
    }
  }
  .avatar-secondary {
    & span {
      @apply bg-secondary text-secondaryMain;
    }
  }
  .avatar-md {
    @apply w-[40px] h-[40px];
    font-size: 1.25em;
  }
  .avatar-lg {
    @apply w-[56px] h-[56px];
    font-size: 1.5em;
  }
  .avatar-square {
    @apply rounded-md;
  }
}
