@layer utilities {
  .checkbox-sm {
    @apply w-[15px] h-[15px];
    & input[type="checkbox"] ~ span::after {
      left: 5px;
      top: 1.8px;
      width: 5px;
      height: 10px;
    }
  }
  .checkbox-lg {
    @apply w-[25px] h-[25px];
    & input[type="checkbox"] ~ span::after {
      left: 9px;
      top: 3.9px;
      width: 7px;
      height: 14px;
    }
  }
}
