@layer utilities {
  .chip-md {
    height: 32px;
  }
  .chip-sm {
    height: 24px;
    & .KnChip-deleteIcon {
      font-size: 20px;
    }
  }
  .chip-square {
    @apply rounded-none;
  }
  .chip-rounded {
    @apply rounded-full;
  }
  .chip-content-sm {
    padding: 0 8px;
  }
}
